<div class="card">
    <div class="card-header">
        <span class="card-value">{{ card.value }}</span>
        <span class="card-suit">
            {{ card.suit == 'hearts' ? '♥' : 
               card.suit == 'diamonds' ? '♦' : 
               card.suit == 'clubs' ? '♣' : 
               card.suit == 'spades' ? '♠' : '?' }}
        </span>
    </div>
    <div class="card-body">
        <span class="card-suit">
            {{ card.suit == 'hearts' ? '♥' : 
               card.suit == 'diamonds' ? '♦' : 
               card.suit == 'clubs' ? '♣' : 
               card.suit == 'spades' ? '♠' : '?' }}
        </span>
    </div>
    <div class="card-footer">
        <span class="card-value">{{ card.value }}</span>
        <span class="card-suit">
            {{ card.suit == 'hearts' ? '♥' : 
               card.suit == 'diamonds' ? '♦' : 
               card.suit == 'clubs' ? '♣' : 
               card.suit == 'spades' ? '♠' : '?' }}
        </span>
    </div>
</div>
