<div class="card">
    <div class="card-header">
        <span class="card-value">{{ card.getValue() }}</span>
        <span class="card-suit">{{ card.getSuitSymbol() }}</span>
    </div>
    <div class="card-body">
        <span class="card-suit">{{ card.getSuitSymbol() }}</span>
    </div>
    <div class="card-footer">
        <span class="card-value">{{ card.getValue() }}</span>
        <span class="card-suit">{{ card.getSuitSymbol() }}</span>
    </div>
</div>
